html {
    font-family: sans-serif;
  }
  
  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    text-align: center;
  }
  
  #welcomePage img {
    margin: 20px 0;
  }
  
  .form input[type="number"] {
    width: 200px;
  }
  
  .lastResult {
    color: white;
    padding: 3px;
  }
  